<div class="navbar">
  <h2>Cocktails</h2>
</div>

<div class="main-body">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-container">
      <div class="cocktail-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @article.photo, height: 300, width: 400, crop: :fill %>')">

      </div>
      <div class="cocktail-content">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to "Add a Cocktail", new_cocktail_path %>
