<div class="navbar">
  <h2>Cocktails</h2>
</div>

<div class="main-body">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-container">
      <div class="cocktail-image">

      </div>
      <div class="cocktail-content">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to "Add a Cocktail", new_cocktail_path %>
