.cocktail-container {
  background-color: $red;
  color: #fff;
  height: 300px;
  width: 200px;
  border: 2px solid $orange;
  border-radius: 12px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
}

.cocktail-image {
  height: 900px;
}

.cocktail-image img {
  height: 100%;
  width: 100%;
  // background-size: cover;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

a.cocktail-container {
  text-decoration: none;
  color: white;
}

.cocktail-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}

.cocktail-content {
  display: flex;
  align-content: flex-end;
  background-color: $red;
  height: 25vh;
  align-content: flex-end;
  border-radius: 12px;
  padding-left: 7px;
}

.cocktail-content a {
  display: flex;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.cocktail-content h3 {
  font-size: 24px;
  padding-top: 6px;
}

a.add-link {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .cocktail-container {
    margin-bottom: 20px;
  }

  .cocktail-image {
    height: 85%;
  }
}
