.cocktail-container {
  background-color: $red;
  color: #fff;
  height: 300px;
  width: 200px;
  border: 2px solid $orange;
  border-radius: 12px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
}

.cocktail-image {
  height: 75vh;
  // background-image: asset-url('bm.jpg');
  background-size: cover;
  // object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}



// .cocktail-image img {
//   border-radius: 12px;
//   borde
//   height: 100%;
//   width: 100%;
// }

.cocktail-content {
  display: flex;
  align-content: flex-end;
  background-color: $red;
  height: 25vh;
  align-content: flex-end;
  border-radius: 12px;
}

.cocktail-content a {
  display: flex;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.cocktail-content h3 {
  font-size: 24px;
}




